*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.lateral {
    height: 100%;
    width: 20%;
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 18px;
    padding: 20px;
}

 .lateral h2, .lateral h3 {
    margin: 15px 0 5px 0;
}

.avatar {
    width: 80%;
    border-radius: 50%;
    margin: 20px;
}

.conteudo {
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 80%;
    background-color: lightgray;
    padding: 20px;
}

.data {
    color: rgb(100, 100, 100);
    text-align: right;
}

.conteudo h1 {
    margin: 10px;
    font-size: 40px;
}

.conteudo h2 {
    margin: 20px 0 10px 0;
    font-size: 20px;
}

.conteudo p{
    color: rgb(90, 90, 90);
}

.conteudo h3 {
    margin-top: 20px;
    font-size: 18px;
}

.conteudo h4 {
    padding: 0;
    color: rgb(80, 80, 80);
}

.conteudo al {
    color: rgb(100, 100, 100);
    margin: 20px;
}