body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #6ecff6 0%, #a0e1ff 100%);
    position: relative;
  }

  .oceano {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;
  background: linear-gradient(to top, #005f99 0%, #0096c7 100%);
  overflow: hidden;
  z-index: 1;
}

.oceano::before,
.oceano::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat-x;
  animation: ondas 25s linear infinite;
  opacity: 0.5;
}

.oceano::before {
  background: repeating-linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.795) 10px,
      rgba(255, 255, 255, 0.4) 10px,
      rgba(255, 255, 255, 0.1) 40px,
      rgba(255, 255, 255, 0) 90px
    );
  animation-duration: 40s;
  opacity: 0.3;
}


@keyframes ondas {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


  .barco {
    position: absolute;
    bottom: 130px;
    left: -150px;
    width: 120px;
    height: 80px;
    z-index: 2;
    animation: navegar 20s linear infinite, balancar 3s ease-in-out infinite;
  }

  @keyframes navegar {
    0% { left: -150px; }
    50% { transform: rotateY(0deg); }
    100% { left: 110%; }
  }


  @keyframes balancar {
    0%, 100% { transform: translateY(0) rotate(-2deg); }
    50% { transform: translateY(-4px) rotate(2deg); }
  }


  .nuvem {
    position: absolute;
    top: 60px;
    left: -200px;
    width: 120px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    box-shadow: 30px 10px 0 0 #fff, 60px 10px 0 0 #fff, 90px 0 0 0 #fff;
    opacity: 0.9;
    animation: moverNuvem 60s linear infinite;
  }

  @keyframes moverNuvem {
    0% { left: -200px; }
    100% { left: 110%; }
  }